<div class="content">
    <h1>Title of the poll => {{poll[0].name}}</h1>
    
    <h2>Description => {{poll[0].description}}</h2>
    <h3>Author => {{poll[0].username}}</h3>
    <div>
        <div ng-repeat = "option in options">
           <label>{{option.text}}</label> <input type="radio" name="option" ng-model ="$parent.choice" ng-value="option.name" />
            
            
        </div>
        <button class="btn btn-lg" ng-if="isLoggedIn()" ng-click="add_option()">Add option</button>
        <div ng-show="visible==true"><input type="text" name="new_option" required placeholder="You can add a new option here" ng-model="new_option" />
        <button class="btn btn-sm" ng-click="confirm_new_option()">Confirm new option</button></div>
        
        <button class="btn btn-lg" ng-click="vota()">Vote</button>
        
<button class="btn btn-lg" ng-click="condividi()">Share via Twitter</button>

    
</div>
<span style="height:100px"></span>
<h2>Result of the poll is updated automatically</h2>
<div google-chart chart="myChartObject" style="height:600px; width:100%;"></div>

