<div class="content">
    <h1>{{poll[0].name}}</h1>
    
    <h2>{{poll[0].description}}</h2>
    <div>
        <div ng-repeat = "option in options">
           <label>{{option.text}}</label> <input type="radio" name="option" ng-model ="$parent.choice" ng-value="option.name" />
            
            
        </div>
        <button ng-if="isLoggedIn()" ng-click="add_option()">Add option</button>

        <button ng-click="vota()">Vota</button>
        
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<button ng-click="condividi()">Condivi con Twitter </button>

    
</div>
<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
</canvas>

