footer{
    padding:20px;
    background-color:white;
    text-align:center;
    height:30%;
    border-top:2px solid black;
    display:block;
}
.content{
    padding:100px;
    color:black;
}

header button{
    padding:5px;

}
